node_modules
*.tgz
/*.js
*.js.map
*.d.ts
*.d.ts.map
/test/build
/test/compiled
/jsbt-check
/test/jsbt/build/patterns/
/test/jsbt/vectors/npm-check/test/build
/test/jsbt/vectors/errors/pass/test/
!/test/jsbt-check/vectors/check/pass-readme-deps/node_modules
.__*
