name: Publish release
on:
  release:
    types: [created]
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
  id-token: write # For OIDC Trusted Publishing
jobs:
  publish-npm-jsr: # Publish to NPM; also to JSR if jsr.json exists
    name: Publish to NPM and JSR
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false # Remove git token after fetch
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: 24.11.0 # Relevant as per Nov 2025, must be specific for determinism.
      - run: npm ci # Built-in NPM version, do not install newer
      - run: npm run build --if-present
      - name: Ensure the version has not been published yet
        run: npm publish --dry-run
      - name: Ensure the version matches GitHub Release
        run: |
          VER1=$(node -e 'console.log(require("./package.json").version)')
          VER2=${{ github.event.release.tag_name }}
          echo "ver1 $VER1"
          echo "ver2 $VER2"
          [[ $VER1 == $VER2 ]] || { echo "NPM-Git version mismatch, exiting..."; exit 1; }
      - name: Publish to JSR if jsr.json exists
        run: | # Use flag --allow-slow-types if it's present in ./jsr.json
          VER1=$(node -e 'console.log(require("./package.json").version)')
          VER2=$(node -e 'console.log(require("./jsr.json").version)')
          echo "ver1 $VER1"
          echo "ver2 $VER2"
          [[ $VER1 == $VER2 ]] || { echo "NPM-JSR version mismatch, exiting..."; exit 1; }
          SLOW_TYPES=$(node -e 'console.log(require("./jsr.json").allowSlowTypes ? "--allow-slow-types" : "")')
          npm install -g jsr
          jsr publish $SLOW_TYPES
        if: ${{ hashFiles('jsr.json') != '' }}
      - run: npm publish --access public
