name: Publish release
on:
  release:
    types: [created]
  workflow_dispatch:
permissions:
  contents: read
  id-token: write # For OIDC Trusted Publishing
jobs:
  publish-npm: # Publish to NPM
    name: Publish to NPM
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false # Remove git token after fetch
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: 24.11.0 # Relevant as per Nov 2025, must be specific for determinism.
      - run: npm ci # Built-in NPM version, do not install newer
      - run: npm run build --if-present
      - run: npm publish --access public
  publish-jsr: # Publish to JSR, if jsr.json exists
    name: Publish to JSR
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
      - id: flags
        run: | # Use flag --allow-slow-types if it's present in ./jsr.json
          SLOW_TYPES=$(node -e 'process.exit(require("./jsr.json").allowSlowTypes ? 0 : 1)' && echo '--allow-slow-types')
          echo "SLOW_TYPES=$SLOW_TYPES" >> $GITHUB_OUTPUT
        if: ${{ hashFiles('jsr.json') != '' }}
      - run: npm install -g jsr
        if: ${{ hashFiles('jsr.json') != '' }}
      - run: jsr publish ${{ steps.flags.outputs.SLOW_TYPES }}
        if: ${{ hashFiles('jsr.json') != '' }}
