name: Run JS tests
on:
  workflow_call:
    inputs:
      submodules:
        default: false
        required: false
        type: boolean
  workflow_dispatch:
jobs:
  node:
    name: Node v${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    env:
      MSHOULD_FAST: 1
    strategy:
      matrix:
        node: [20, 22, 24] # Nov 2025 LTS
        os: [ubuntu-24.04-arm, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
          submodules: ${{ inputs.submodules }}
      - name: Use Node.js ${{ matrix.node }} @ ${{ matrix.os }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          registry-url: "https://registry.npmjs.org"
          cache: npm
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run build --if-present
      - run: npm test
  bun:
    name: Bun
    runs-on: ubuntu-24.04-arm
    env:
      MSHOULD_FAST: 1
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
          submodules: ${{ inputs.submodules }}
      - uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run --if-present build
      - run: bun run --if-present test:bun
  deno:
    name: Deno
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
          submodules: ${{ inputs.submodules }}
      - uses: denoland/setup-deno@909cc5acb0fdd60627fb858598759246509fa755 # v2.0.2
        with:
          deno-version: v2.x
      - run: grep -q 'test:deno' package.json && deno install || exit 0
        name: Run deno install if test:deno is present
      - run: grep -q 'build' package.json && deno task build || exit 0
        name: Run build if present
      - run: grep -q 'test:deno' package.json && deno task test:deno || exit 0
        name: Run test:deno if present
